* {
    margin: 0;
    padding: 0;
}

/* conatiner */
.container {
    display: flex;
}

.left {
    height: 500px;
    width: 55%;


}

.header {
    width: 80%;
    height: 40px;
    background-color: #fff;
    margin-top: 60px;
    margin-left: 90px;
    display: flex;
    justify-content: space-between;
}

.img {
    height: 60px;
    width: 40px;
    margin-right: 8px;
}

.img_M {
    margin-top: -9.5px;

}

#name {
    color: #fc8019;
    word-spacing: 10px;
    margin-right: 5px;
}

.header_L {
    display: flex;

}

.btn {
    padding: 12px 25px;
    font-weight: bold;
    margin-left: 8px;
    background-color: white;
    border-style: none;
}

.btn_1 {
    padding: 12px 25px;
    font-weight: bold;
    margin-left: 8px;
    color: white;
    background-color: black;
    border-style: none;
}


.right {
    height: 500px;
    width: 45%;
    background-image: url(https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_1340/Lunch1_vlksgq);
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.Header_B {
    height: 300px;
    width: 80%;
    /* background-color: blueviolet; */
    margin-left: 90px;
    margin-top: 60px;
}

.text {
    font-size: 38px;
}

.text_1 {
    color: grey;
    font-size: 25px;
    margin-top: 10px;
}

.input {
    padding: 15px 40px;
    margin-top: 40px;
    width: 60%;
    font-size: 15px;
}

.btn_2 {
    padding: 16px 20px;
    margin-left: -6.5px;
    color: white;
    font-weight: bold;
    background-color: #fc8019;
    border-style: none;
    font-size: 15px;
    border-color: #fc8019;
}

.text_2 {
    font-size: 20px;
    margin-top: 15px;
    color: gray;
    margin-left: 8px;
}

.cities {
    display: flex;
    margin-top: 10px;
    width: 100%;

}

.Text {
    margin-left: 8px;
    font-size: 15px;
    font-weight: bold;
}

.Text_1 {
    margin-left: 8px;
    color: gray;
    font-size: 15px;
    font-weight: bold;
}

.container_2 {
    background-color: #2b1e16;
    width: 100%;
    height: 420px;
    display: flex;
}

.photo_1 {
    width: 25%;
    height: 380px;

    margin-left: 6%;
}

.photo_2 {
    width: 25%;
    height: 380px;

    margin-left: 6%;
}

.photo_3 {
    width: 25%;
    height: 380px;

    margin-left: 6%;
}

.logo_1 {
    width: 100%;
    height: 250px;

    background-image: url(https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_210,h_398/4x_-_No_min_order_x0bxuf);
    background-repeat: no-repeat;
    background-size: 50% 250px;
    background-position: center;
}

.logo_2 {
    width: 100%;
    height: 250px;

    background-image: url(https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_224,h_412/4x_Live_order_zzotwy);
    background-repeat: no-repeat;
    background-size: 50% 250px;
    background-position: center;
}

.logo_3 {
    width: 100%;
    height: 250px;

    background-image: url(https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_248,h_376/4x_-_Super_fast_delivery_awv7sn);
    background-repeat: no-repeat;
    background-size: 50% 250px;
    background-position: center;
}

.Ltext_u {
    margin-top: 20px;
    margin-left: 45px;
    color: white;
}

.Ltext_l {
    font-size: 20px;
    margin-top: 5px;
    margin: 10px;
    color: white;
}

.Ltext {
    /* background-color: #fff; */
    margin-left: 15px;
}

.container_3 {
    background-color: #ffffff;
    width: 100%;
    height: 600px;
    display: flex;
}

.box_1 {
    /* background-color: aqua; */
    height: 400px;
    width: 35%;
    margin-left: 9%;
    margin-top: 150px;

}

.box_2 {
    /* background-color: aqua; */
    height: 480px;
    width: 28%;
    margin-left: 10%;
    background-image: url(https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_768,h_978/pixel_wbdy4n);
    background-repeat: no-repeat;
    background-size: 100% 480px;
}

.box_3 {
    margin-left: 2%;
    /* background-color: aqua; */
    height: 480px;
    width: 28%;
    margin-top: 120px;
    background-image: url(https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_768,h_978/iPhone_wgconp_j0d1fn);
    background-repeat: no-repeat;
    background-size: 100% 480px;

}

.Pockets {
    font-size: 38px;
}

.Order {
    margin-top: 15px;
    color: grey;
    font-size: 25px;
}

.image_d {
    display: flex;
    margin-top: 50px;
}

.image_P {
    height: 50px;
    width: 200px;
    margin-left: 5px;
}

.image_P :hover {
    cursor: pointer;

}

.footer {
    height: 650px;
    width: 100%;
    background-color: #282c3f;
}

.container_4 {

    margin: 100px;
    height: 400px;
    width: 85%;
    position: absolute;
    display: flex;
    border-bottom: 2px solid gray;
    /* background-color: yellow; */
}

.footer_1 {
    width: 25%;
    height: 500px;
    /* background-color: green; */
    margin-left: 10px;
}
.footer_3{
    width: 25%;
    height: 500px;
    /* background-color: green; */
    margin-left: 10px;
}

.footer_I {
    width: 25%;
    height: 500px;
    /* background-color: green; */
    margin-left: 10px;

}

.footer_2 {
    width: 25%;
    height: 500px;
    /* background-color: green; */
    margin-left: 10px;
}

.footer_3 {
    width: 25%;
    height: 500px;
    /* background-color: green; */
    margin-left: 10px;
}

.link_1 {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.footer_H {
    color: grey;
    margin-bottom: 20px;
}

.company {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 18px;
    margin-top: 12px;

}

.image_F {
    height: 80px;
    width: 220px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.main_footer {
    /* background-color: aqua; */
    height: 70px;
    width: 100%;
    position: absolute;
    margin-top: 430px;
    display: flex;

    align-items: center;
}

.img_1 {
    height: 40px;
    width: 20px;
    margin-right: 5px;
}

.name_1 {
    color: white;
    margin-left: 32%;
}

#name_1 {
    color: #fc8019;
    word-spacing: 10px;
    margin-right: 5px;
}

.logo_S {
    height: 50px;
    width: 30px;
    margin-left: 18px;
}

.logo_I {
    margin-left: 20%;
}

@media screen and (max-width:1496px) {
    body {
        /* background-color: blue; */
    }

}

@media screen and (max-width:1248px) {
    body {
        /* background-color: greenyellow; */
    }

    .cities {
        display: flex;
        margin-top: 10px;
        width: 100%;
        margin-left: -38px;
        /* background-color: aquamarine; */

    }

    .logo_I {
        margin-left: 11%;
    }

    .name_1 {
        color: white;
        margin-left: 25%;
    }

    .input {
        width: 40%;
    }

    .image_F {
        height: 70px;
        width: 220px;

    }

    .Ltext_u {
        width: 100%;
        margin-left: 18px;

    }

    .Ltext_l {
        font-size: 16px;
        margin-top: 8px;
        margin-left: 15px;

    }


}

@media screen and (max-width : 950px) {
    body {
        /* background-color: lightblue; */
    }

    .header {
        width: 100%;
        margin-left: -3px;
    }

    .Header_B {
        height: 300px;
        width: 80%;
        /* background-color: blueviolet; */
        margin-left: 40px;
        margin-top: 50px;
    }

    .cities {

        margin-left: -50px;
        display: none;


    }

    .image_F {
        height: 40px;
        width: 150px;
    }

    .name_1 {
        color: white;
        margin-left: 20%;
        font-size: 20px;
    }

    .logo_S {
        height: 30px;
        width: 20px;
        margin-left: 15px;
    }

    .company {
        font-size: 15px;
    }

}

@media screen and (max-width : 742px) {
    body {
        /* background-color: pink; */
    }

    .container {
        width: 100%;
    }

    .right {
        width: 45%
    }

    .header_R {
        margin-top: 80px;
        display: flex;
        display: none;

    }

    .img_M {
        margin-top: -3.5px;
        margin-left: 105px;
    }

    .Header_B {
        margin-top: 80px;
    }

    .container_4 {
        margin-left: 60px;
    }

    .footer {
        height: 600px;
    }

    .logo_I {
        margin-left: 9%;
    }

    .footer_I {
        margin-top: 50px;
    }

    .input {
        padding: 12px 35px;
        margin-top: 40px;
        width: 40%;
        font-size: 12px;
    }

    .btn_2 {
        padding: 11px 20px;
        margin-left: -6.5px;
        color: white;
        font-weight: bold;
        background-color: #fc8019;
        border-style: none;
        font-size: 15px;
        border-color: #fc8019;
    }

    .text {
        width: 100%;
    }


}

@media screen and (max-width : 716px) {
    body {
        /* background-color: skyblue; */
    }

    .input {
        padding: 12px 35px;
        margin-top: 40px;
        width: 40%;
        font-size: 12px;
        margin-left: -21px;
    }

    .btn_2 {
        padding: 11px 20px;
        margin-left: -6.5px;
        color: white;
        font-weight: bold;
        background-color: #fc8019;
        border-style: none;
        font-size: 15px;
        border-color: #fc8019;
    }

    #name_1 {
        font-size: 16px;
    }

    .container_4 {
        margin-left: 40px;
    }

}

@media screen and (max-width : 600px) {
    body {
        /* background-color: greenyellow; */
    }

    .header {
        width: 100%;
        margin-left: -10px;
    }

    .img_M {
        margin-left: 68px;
    }

    .input {
        padding: 12px 35px;
        margin-top: 40px;
        width: 40%;
        font-size: 12px;
        margin-left: -35px;
    }

    .btn_2 {
        padding: 11px 15px;
        margin-left: -6.5px;
        color: white;
        font-weight: bold;
        background-color: #fc8019;
        border-style: none;
        font-size: 15px;
        border-color: #fc8019;

    }

    .text_2 {
        font-size: 18px;
        font-weight: bold;
        margin-left: -15px;
    }

    .company {
        font-size: 12px;
    }

    .footer_I {
        display: none;
    }

    .main_footer {
        width: 100%;
    }

    .logo_S {
        height: 20px;
        width: 20px;
        margin-left: 5px;
    }

    .name_1 {
        margin-left: 10%;
    }

    .box_2 {
        /* background-color: aqua; */
        height: 474px;
        width: 130%;
    }

    .box_3 {
        visibility: hidden;
    }

}

@media screen and (max-width : 550px) {
    body {
        /* background-color: lightgoldenrodyellow; */
    }

    .container {
        display: inline-block;
    }

    .right {
        width: 100%;
    }

    .left {
        width: 100%;
    }

    .btn_1 {
        visibility: visible;
    }

    .input {
        width: 55%;
        margin-left: 5px;
    }

    .photo_3 {
        display: none;
    }

    .photo_1 {
        width: 100%;
        height: 300px;
        /* background-color: aquamarine; */
        margin-left: 5%;
    }

    .photo_2 {
        width: 100%;
        height: 300px;
        /* background-color: aqua; */
        margin-left: 3%;
    }

    .logo_1 {
        width: 100%;
        height: 230px;
    }

    .logo_2 {
        width: 100%;
        height: 230px;
    }

    .Ltext {
        width: 100%;
        margin-left: 2px;
    }

    .Ltext_l {
        width: 100%;
        /* background-color: aqua; */
        margin-left: 5px;
        font-size: 15px;
    }

    .Ltext_u {
        width: 100%;
        font-size: 22px;
    }

    .text_2 {
        font-size: 20px;
        margin-left: 10px;
    }

}


@media screen and (max-width : 420px) {
    body {
        /* background-color: #6f4727; */
    }

    .image_d {
        display: none;
    }

    .Ltext_l {
        display: none;
    }

    .Ltext_u {
        font-size: 18px;
    }

    .footer_H {
        font-size: 15px;
        margin-left: 2px;
    }

    .input {
        width: 35%;
        margin-left: 5px;
    }

    .Pockets {
        font-size: 20px;
    }

    .Ltext_u {
        width: 100%;
        font-size: 18px;
    }

    .container_4 {
        margin-left: 30px;
    }

    .photo_1 {
        margin-left: 3px;
    }

    .Ltext {
        margin-left: 2px;
    }

    .logo_I {
        display: none;
    }
}

@media screen and (max-width : 420px) {
    body {
        /* background-color: beige; */
    }

    .input {
        width: 35%;
    }

    .img {
        height: 80px;
        width: 50px;
        margin-top: -20px;
    }

    .Ltext_u {
        width: 80%;
        font-size: 22px;
    }

    .container_4 {
        margin-left: 20px;
    }

}
@media screen and (max-width : 420px) {
    .text{
        font-size:  25px;
        margin-top: 5px;
    }
    .input{
        width: 28%;
        margin-left: -12px;
        font-size: 12px;
    }
    .text_2{
        
        margin-left: -21px;
    }
    .left{
        height: 400px;
    }
    .right{
        height: 400px
        ;
    }
    .footer_3{
       display: none;
    }
    .footer_1{
        margin-left: 40px;
    }
    .container_4{
        margin-top: 13px;
    }
    .footer{
        height: 500px;
    }
}